.content {
  padding: 0 2rem 1rem 2rem !important;
  margin: 2rem auto !important;
  align-content: center;
}

.pic {
  width: 100%;
  height: auto;
  padding: 10px;
}

.img-container {
  border: 2px solid gray;
  border-radius: 10px;
}

.img-col {
  padding-top: 25px;
}

.annotation-row {
  padding-top: 25px;
}

.add-row {
  padding-top: 25px;
}

.divider {
  border: 0.5px solid gray;
}

.annotation-box {
  text-align: left;
  height: 240px;
  width: auto;
  border: 2px solid gray;
  border-radius: 10px;
  overflow-y: auto;
  align-items: left;
  word-break: break-word;
}

.annotation-text {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.comment-container {
  margin: 1rem 0 1rem 0;
}

.comment-time {
  font-size: small;
  color: grey;
  margin-bottom: 0 !important;
}

.add-button {
  margin: 10px;
}

.return-button {
  margin: 10px;
}

.delete-button {
  margin: 10px;
}

.glitch-buttons {
  padding-left: 5px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.glitch-time {
  font-size: small;
  color: grey;
  margin-bottom: 0;
}

.anno-buttons {
  padding-left: 5px !important;
}

.comment-title {
  margin: 0 !important;
}
