.multImages {
  padding: 2rem;
}

.displayRow {
  padding: 0 0 3rem 0;
}

.originalElement {
  min-width: 250px;
}

.glitchedElement {
  min-width: 250px;
}

.glitchedElement .img {
  width: 100%;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
}

.butttonBar {
  vertical-align: middle;
  float: right;
}

.buttons {
  margin: 5px !important;
}

.row {
  display: flex;
  align-items: center;
}

.about {
  text-align: justify;
  font-size: 0.9rem;
  padding: 3px 15px;
}

.legend {
  padding-left: 15px;
}
